.SiderBar-box {
  position: fixed;
  background: #c6e2ff;
  min-height: 100%;
  width: 200px;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1001;
}
.SiderBar-box .siderBar {
  padding: 5px;
}
.SiderBar-box .siderBar .close {
  position: absolute;
  top: 0px;
  left: 140px;
  height: 40px;
  width: 40px;
  cursor: default;
  border-radius: 50%;
  background: #34d399;
}
.SiderBar-box .siderBar .close span {
  line-height: 40px;
}
.SiderBar-box .siderBar .ul {
  padding: 15px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.SiderBar-box .siderBar .ul li:first-child {
  margin-top: 20px;
}
.SiderBar-box .siderBar .ul li {
  line-height: 30px;
  height: 30px;
  margin-bottom: 20px;
  list-style: none;
}
.SiderBar-box .siderBar .ul li a {
  text-decoration: none;
  color: #778899;
}
.SiderBar-box .siderBar .ul li a .img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.SiderBar-box .siderBar .ul li a:hover {
  color: #34d399;
}
.hideBar {
  position: fixed;
  background: #f8f8ff;
  min-height: 100%;
  width: 100px;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1001;
  transition: all 0.3;
}
.hideBar .siderBar {
  padding: 5px;
}
.hideBar .siderBar .close {
  position: absolute;
  top: 0px;
  left: 60px;
  height: 40px;
  width: 40px;
  cursor: default;
  border-radius: 50%;
  background: #34d399;
}
.hideBar .siderBar .close span {
  line-height: 40px;
}
.hideBar .siderBar .ul {
  padding: 15px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hideBar .siderBar .ul li:first-child {
  margin-top: 20px;
}
.hideBar .siderBar .ul li {
  line-height: 30px;
  height: 30px;
  margin-bottom: 20px;
  list-style: none;
}
.hideBar .siderBar .ul li a {
  text-decoration: none;
  color: #778899;
}
.hideBar .siderBar .ul li a .img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.hideBar .siderBar .ul li a:hover {
  color: #34d399;
}
